  body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121212; /* Fundo escuro */
    font-family: 'Arial', sans-serif;
    color: #fff; /* Texto branco */
}

.toolbar {
    background-image: linear-gradient(to top,  #323343 0%, #2A2C41 100%);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 2px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
   
    display: flex;
    justify-content: flex-start;
    align-items: center;
 
}


button {
    background-color: #ff4e50; /* Vermelho coral */
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #fc3c3f; /* Tom mais escuro de vermelho coral */
    transform: scale(1.05);
}

.time-square,
.info-square,
.random-time-square {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px black; /* Sombra suave */
}

.time-square {
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(1px);
    
 
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); /* Azul turquesa */
}

.info-square {
    background-color: #2a363b; /* Azul escuro acinzentado */
}
.random-time-square {
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(10px);
  
    
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); /* Laranja pastel */
    /* Adiciona uma animação de piscar */
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#currentTime,
#randomInfo {
    margin: 0;
}

iframe {
    position: absolute;
    top: 125px; /* Altura da barra de ferramentas */
    left: 0;
    width: 100%;
    height: calc(100% - 50px); /* Subtrai a altura da barra de ferramentas */
    border: none;
}

#backBtn {
    background-color: rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(10px);
  
   
    border: 1px solid red;
    box-shadow: 0 0 40px rgba(8, 7, 16, 0.6); /* Gradiente azul ciano */
    color:white;
    
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    position: relative;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

#backBtn:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(-45deg);
    top: 50%;
    left: -15px;
    transition: transform 0.3s;
    opacity: 0;
}

#backBtn:hover {
    background: linear-gradient(45deg, #3a7bd5, #00d2ff); /* Gradiente azul ciano invertido */
}

#backBtn:hover:before {
    transform: translate(-2px, -2px) rotate(-45deg);
    opacity: 1;
}


 
    
        .dialog-overlay {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
            z-index: 999;
            display: none;
        }

        .dialog {
            background: #1e1e1e; /* Fundo escuro para o diálogo */
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3); /* Sombra suave */
        }

        .dialog h2 {
            color: #00d2ff; /* Azul ciano */
        }

        .dialog p {
            color: #fff;
            margin-bottom: 15px;
        }

        .dialog button {
            background-color: #ff4e50; /* Vermelho coral */
            color: #fff;
            border: none;
            cursor: pointer;
            padding: 8px 15px;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
        }

        .dialog button:hover {
            background-color: #fc3c3f; /* Tom mais escuro de vermelho coral */
            transform: scale(1.05);
        }